
Data/DRR223274.fastq.gz
Data/DRR223276.fastq.gz
Data/MOCKS.zip
Data/SRR13295152.fastq.gz
Data/SRR13295153.fastq.gz
Data/SRR15167395.fastq.gz
Data/SRR18649724.fastq.gz
Data/SRR18716709.fastq.gz
Data/SRR21608144.fastq.gz
Data/SRR22465095.fastq.gz
Data/SRR23462786.fastq.gz
Data/SRR25243461.fastq.gz
Data/SRR25243473.fastq.gz
Data/SRR25644557.fastq.gz
Data/SRR26053535.fastq.gz
Data/SRR26053536.fastq.gz
Data/SRR26678505.fastq.gz
Data/SRR26678506.fastq.gz
Data/SRR26678509.fastq.gz
Data/SRR26678516.fastq.gz
Data/SRR27319178.fastq.gz
Data/SRR28476576.fastq.gz
Data/SRR28476579.fastq.gz
Data/SRR28476583.fastq.gz
Data/SRR8029996.fastq.gz
Data/SRR9089357.fastq.gz
Data/filtered_mocks/Illumina/SRR15167395.fastq.gz
Data/filtered_mocks/Illumina/SRR18649724.fastq.gz
Data/filtered_mocks/Illumina/SRR18716709.fastq.gz
Data/filtered_mocks/Illumina/SRR21608144.fastq.gz
Data/filtered_mocks/Illumina/SRR22465095.fastq.gz
Data/filtered_mocks/Illumina/SRR25243461.fastq.gz
Data/filtered_mocks/Illumina/SRR25243473.fastq.gz
Data/filtered_mocks/Illumina/SRR25644557.fastq.gz
Data/filtered_mocks/Illumina/SRR26053535.fastq.gz
Data/filtered_mocks/Illumina/SRR26053536.fastq.gz
Data/filtered_mocks/ONT/DRR223274.fastq.gz
Data/filtered_mocks/ONT/DRR223276.fastq.gz
Data/filtered_mocks/ONT/SRR13295152.fastq.gz
Data/filtered_mocks/ONT/SRR13295153.fastq.gz
Data/filtered_mocks/ONT/SRR23462786.fastq.gz
Data/filtered_mocks/ONT/SRR26678505.fastq.gz
Data/filtered_mocks/ONT/SRR26678506.fastq.gz
Data/filtered_mocks/ONT/SRR26678509.fastq.gz
Data/filtered_mocks/ONT/SRR26678516.fastq.gz
Data/filtered_mocks/ONT/SRR28476576.fastq.gz
Data/filtered_mocks/ONT/SRR28476579.fastq.gz
Data/filtered_mocks/ONT/SRR28476583.fastq.gz
Data/filtered_mocks/ONT/SRR8029996.fastq.gz
Data/filtered_mocks/PacBio/SRR27319178.fastq.gz
Data/filtered_mocks/PacBio/SRR9089357.fastq.gz
Data/filtered_mocks/Illumina/SRR15167395.fastq
Data/filtered_mocks/Illumina/SRR18649724.fastq
Data/filtered_mocks/Illumina/SRR18716709.fastq
Data/filtered_mocks/Illumina/SRR21608144.fastq
Data/filtered_mocks/Illumina/SRR22465095.fastq
Data/filtered_mocks/Illumina/SRR25243461.fastq
Data/filtered_mocks/Illumina/SRR25243473.fastq
Data/filtered_mocks/Illumina/SRR25644557.fastq
Data/filtered_mocks/Illumina/SRR26053535.fastq
Data/filtered_mocks/Illumina/SRR26053536.fastq
Data/filtered_mocks/ONT/DRR223274.fastq
Data/filtered_mocks/ONT/DRR223276.fastq
Data/filtered_mocks/ONT/SRR13295152.fastq
Data/filtered_mocks/ONT/SRR13295153.fastq
Data/filtered_mocks/ONT/SRR23462786.fastq
Data/filtered_mocks/ONT/SRR26678505.fastq
Data/filtered_mocks/ONT/SRR26678506.fastq
Data/filtered_mocks/ONT/SRR26678509.fastq
Data/filtered_mocks/ONT/SRR26678516.fastq
Data/filtered_mocks/ONT/SRR28476576.fastq
Data/filtered_mocks/ONT/SRR28476579.fastq
Data/filtered_mocks/ONT/SRR28476583.fastq
Data/filtered_mocks/ONT/SRR8029996.fastq
Data/filtered_mocks/PacBio/SRR27319178.fastq
Data/filtered_mocks/PacBio/SRR9089357.fastq
.Rhistory
